{% extends 'base.html.twig' %}

{% block title %}Request index{% endblock %}

{% block body %}
    <h1>Request index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Uuid</th>
                <th>AgentId</th>
                <th>RequesterId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for request in requests %}
            <tr>
                <td>{{ request.uuid }}</td>
                <td>{{ request.agentId }}</td>
                <td>{{ request.requesterId }}</td>
                <td>
                    <a href="{{ path('app_domain_entity_request_show', {'uuid': request.uuid}) }}">show</a>
                    <a href="{{ path('app_domain_entity_request_edit', {'uuid': request.uuid}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_domain_entity_request_new') }}">Create new</a>
{% endblock %}
